<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:mojajebanastrona20200407032543dbserver.database.windows.net,1433;Initial Catalog=mojajebanastrona20200407032543_db;Persist Security Info=False;User ID=koval77;Password=Abracadabr@77;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/Models.IdeaCollSHMod.csdl|res://*/Models.IdeaCollSHMod.ssdl|res://*/Models.IdeaCollSHMod.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:mojajebanastrona20200407032543dbserver.database.windows.net,1433;Initial Catalog=mojajebanastrona20200407032543_db;Persist Security Info=False;User ID=koval77;Password=Abracadabr@77;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;"/>
  </connectionStrings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    
    to bylo po connection string xdt:Transform="SetAttributes" xdt:Locator="Match(name)" jak dzialalo 07/04/2020
  -->
  <system.web>
    <customErrors defaultRedirect="GenericError.htm"
      mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="InternalError.htm"/>
    </customErrors>
  </system.web>
</configuration>